:root {
  --main-bg-color: #f7f7f7;
  --main-font-color: #4a4543;
}

@font-face {
  font-family: "saira_extra_light";
  src: url("../assets/Saira_Condensed/SairaCondensed-ExtraLight.ttf");
}

@font-face {
  font-family: "barlow_extra_light";
  src: url("../assets/Barlow_Condensed/BarlowCondensed-ExtraLight.ttf");
}

@font-face {
  font-family: "barlow_semi_bold";
  src: url("../assets/Barlow_Condensed/BarlowCondensed-SemiBold.ttf");
}

@font-face {
  font-family: "helvetica_bold";
  src: url("../assets/Helvetica/Helvetica-Bold.ttf");
}

@font-face {
  font-family: "bree_light_oblique";
  src: url("../assets/bree-2-cufonfonts/BreeLightOblique.otf");
}

#root,
html {
  background-color: var(--main-bg-color);
}

.mainDiv {
  max-width: 1200px;
  min-width: 400px;
}

.container_under_construction {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  min-width: 400px;
  position: relative;
  text-align: center;
  color: rgb(98, 98, 98);
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3.5vw;
}

.centered {
  background-color: rgba(30, 30, 30, 0.811);
  color: #349da1;
  border-radius: 10px;
}

.img_under_construction {
  width: 100%;
  /* opacity: 0.3; */
}

.footerDiv {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
  align-self: center;
  height: 60px;
  width: 100vw;
  max-width: 1200px;
  min-width: 400px;
  margin: auto;
  font-size: max(1.5vw, 12px);
  color: #dda951;
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(35, 35, 35);
}

/* .footerDiv {
  margin: 0 auto;
  justify-self: center;
  min-width: 460px;
  max-width: 1200px;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: max(1.5vw, 12px);
  color: #dda951;
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(35, 35, 35);
  height: 80px;
} */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.bottom-left {
  margin-left: 10px;
  align-self: center;
}

.bottom-right {
  margin-right: 10px;
  align-self: center;
}

.bottom-center {
  align-self: center;
}
.bottom-center > a,
.bottom-center > a:link,
.bottom-center > a:visited,
.bottom-center > a:active {
  text-decoration: none;
  color: #dda951;
}

@media screen and (min-width: 1200px) {
  .container_under_construction {
    font-size: 45.5px;
  }
  .footerDiv {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .container_under_construction {
    font-size: 21px;
  }
  .footerDiv {
    font-size: 10px;
  }
}

/* StartingPage */
.starting_page_page {
  max-width: 1200px;
  margin: auto;
  right: 0;
  left: 0;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  /* height: calc(100vh - 75px); */
}

.starting_page_container {
  max-width: 1200px;
  margin: auto;
  right: 0;
  left: 0;
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3.5vw;
  /* height: calc(100vh - 75px); */
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
}

#root {
  width: 100%;
}

/* .starting_page_header {
  max-width: 1200px;
  margin: 20px;
  margin-top: 0px;
  padding-top: 10px;
} */

/* .starting_page_img {
  height: 80px;
} */

.starting_page_body {
  max-width: 1200px;
  width: 100vw;
  margin: 10px auto;
  padding-top: 20px;
  gap: 20px;
  height: calc(100vh - 154px);
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "epitesztervezes epitesztervezes betontermekek betontermekek"
    "epitesztervezes epitesztervezes betontermekek betontermekek"
    "szolgaltatas iras betontermekek betontermekek";
}

.starting_page_epitesztervezes {
  border: rgb(35, 35, 35) 5px solid;
  background-image: url("../assets/starting_page_imgs/haz.jpg");
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  background-size: cover;
  background-position-x: center;
  color: var(--main-bg-color);
  grid-area: epitesztervezes;

  display: table;
}
.starting_page_betontermekek {
  border: rgb(35, 35, 35) 5px solid;
  background-image: url("../assets/starting_page_imgs/beton.jpg");
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  background-size: cover;
  background-position: center;
  color: var(--main-bg-color);
  grid-area: betontermekek;
  display: table;
}

.starting_page_epitesztervezes_content,
.starting_page_betontermekek_content {
  transition: 0.5s ease;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(30, 30, 30, 0.811);
  opacity: 0;
}

.starting_page_epitesztervezes_content:hover,
.starting_page_betontermekek_content:hover {
  opacity: 1;
  cursor: pointer;
}

.starting_page_szolgaltatas {
  border: rgb(35, 35, 35) 5px solid;
  grid-area: szolgaltatas;
}

.szolgaltatas_logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin: 5px;
}

.szolgaltatas_logo_imgs {
  width: 40px;
}

.starting_page_iras {
  background-image: url("../assets/starting_page_imgs/tanacsadas.jpg");
  background-size: cover;
  background-position-x: center;
  border: rgb(35, 35, 35) 5px solid;
  grid-area: iras;
}

@media screen and (min-width: 1200px) {
  .starting_page_container {
    font-size: 45.5px;
  }
}

@media screen and (max-width: 850px) {
  .starting_page_body {
    margin: 10px;
    gap: 10px;
    height: calc(100vh - 130px);
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "epitesztervezes epitesztervezes"
      "epitesztervezes epitesztervezes"
      "betontermekek betontermekek"
      "betontermekek betontermekek"
      "betontermekek betontermekek"
      "szolgaltatas iras";
  }
}

@media screen and (max-width: 600px) {
  .starting_page_container {
    font-size: 21px;
  }
}

/* EPITESZ */
.epitesz_page {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.epitesz_container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  height: calc(100vh - 204px);
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
}

.epitesz_szolgaltatas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* height: 1800px; */
  width: 100%;
  max-width: 1200px;
}
.epitesz_szolgaltatas_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* height: 450px; */
  width: 100%;
  max-width: 1200px;
}

.epitesz_szolgaltatas_img,
.epitesz_szolgaltatas_text {
  max-width: 600px;
}

.epitesz_szolgaltatas_text {
  align-self: center;
  width: 700px;
}

.epitesz_szolgaltatas_img {
  height: 400px;
  width: 350px;
}

.epitesz_szolgaltatas_text_1,
.epitesz_szolgaltatas_text_2,
.epitesz_szolgaltatas_text_3,
.epitesz_szolgaltatas_text_4 {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
}

.epitesz_szolgaltatas_img_1 {
  background-image: url("../assets/epitesztervezes_imgs/1.jpg");
}

.epitesz_szolgaltatas_img_2 {
  background-image: url("../assets/epitesztervezes_imgs/2.jpg");
}

.epitesz_szolgaltatas_img_3 {
  background-image: url("../assets/epitesztervezes_imgs/3.jpg");
}

.epitesz_szolgaltatas_img_4 {
  background-image: url("../assets/epitesztervezes_imgs/4.jpg");
}

.epitesz_szolgaltatas_img {
  background-size: cover;
  background-position-y: center;
}

.epitesz_text_div_1 {
  font-size: 50px;
  text-align: center;
  margin: 50px;
}

.epitesz_grid_text {
  background-color: rgba(237, 237, 237, 0.749);
  height: 40px;
}

.epitesz_szolgaltatas_4 {
  margin-bottom: 50px;
}

/* .map-container {
  width: 50%;
  height: 200px;
} */

/* BETON ROLUNK */
.beton_page,
.butor_page,
.falburkolat_page,
.kulterielemek_page {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
}

.beton_container {
}

.beton_title,
.butor_title,
.falburkolat_title,
.kulterielemek_title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0.5px;
}

.beton_subtitle,
.butor_subtitle,
.falburkolat_subtitle,
.kulterielemek_subtitle {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;

  letter-spacing: 0.5px;
}

.beton_first_div {
  background-image: url("../assets/betongeometria/bemutatkozas.jpg");
  background-size: cover;
  background-position-y: center;
  height: 1200px;
  display: flex;
  flex-direction: row;
}

.beton_first_div_left,
.beton_first_div_right {
  width: 50%;
}

.beton_first_div_right {
  background-color: rgba(230, 230, 230, 0.623);
}

.beton_first_line {
  font-family: helvetica_bold, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  letter-spacing: 0.5px;
}

.beton_first_div_text {
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin: 70px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
}

.beton_contactBtn_div {
  margin: auto;
  justify-self: center;
  width: 160px;
}

.contactBtn {
  transition: 0.5s ease;
  justify-self: center;
  cursor: pointer;
  border: none;
  background-color: #fe6060;
  padding: 15px;
  padding-left: 45px;
  padding-right: 45px;
  font-family: bree_light_oblique, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--main-bg-color);
  font-size: 15px;
}

.contactBtn:hover {
  transition: 0.5s ease;
  background-color: #b44343;
}

/* BUTOR */

.butor_first_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/butor1.jpg");
  background-size: cover;
  background-position-y: center;
  height: 900px;
  display: flex;
  flex-direction: row;
}

.butor_first_div_left {
}

.butor_first_div_left {
  width: 33%;
  background-color: rgba(230, 230, 230, 0.623);
  margin: 35px;
  padding: 25px;
}

.butor_first_div_text > a,
.butor_first_div_text > a:active,
.butor_first_div_text > a:hover,
.butor_first_div_text > a:link {
  color: var(--main-font-color);
  text-decoration: underline;
}

.butor_first_line {
  font-size: 16px;
  letter-spacing: 5px;
  font-family: barlow_semi_bold, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 65px;
}

.butor_first_div_text {
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
}

.butor_second_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/butor2.jpg");
  background-size: cover;
  background-position-y: center;
  height: 768px;
}

.butor_third_div {
  margin-top: 20px;
  margin-bottom: 5px;
  background-image: url("../assets/betongeometria/butor3.jpg");
  background-size: cover;
  background-position-y: center;
  height: 623px;
  display: flex;
}

.butor_third_div_left {
  width: 71%;
}

.butor_third_div_right {
  background-color: rgba(230, 230, 230, 0.623);
  width: 29%;
  padding: 20px;
  padding-top: 35px;
}

.butor_third_div_text {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
}

/* FALBURKOLAT */

.falburkolat_first_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/falburkolat1.jpg");
  background-size: cover;
  background-position-y: center;
  height: 600px;
  display: flex;
  flex-direction: row;
}

.falburkolat_first_div_left,
.falburkolat_first_div_right {
  width: 50%;
}

.falburkolat_first_div_right {
  background-color: rgba(230, 230, 230, 0.623);
  padding: 30px;
  padding-bottom: 50px;
  display: flex;
}
.falburkolat_first_div_text {
  align-self: flex-end;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
}

.falburkolat_second_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/falburkolat2.jpg");
  background-size: cover;
  background-position-y: center;
  height: 600px;
}

.falburkolat_third_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/falburkolat3.jpg");
  background-size: cover;
  background-position-y: center;
  height: 600px;
  display: flex;
  flex-direction: row;
}

.falburkolat_third_div_left {
  width: 30%;
  background-color: rgba(230, 230, 230, 0.623);
  padding: 30px;
}

.falburkolat_third_div_text {
  align-self: flex-end;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 20px;
}

/* KULTERI ELEMEK */

.kulterielemek_first_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/kulteri1.jpg");
  background-size: cover;
  height: 900px;
  display: flex;
  flex-direction: row;
}

.kulterielemek_first_div_left {
  width: 70%;
}

.kulterielemek_first_div_right {
  background-color: rgba(230, 230, 230, 0.623);
  width: 30%;
  margin: 20px;
  padding: 30px;
}

.kulterielemek_first_div_text,
.kulterielemek_third_div_text {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
}

.kulterielemek_second_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/kulteri2.jpg");
  background-size: cover;
  background-position-y: center;
  height: 700px;
}

.kulterielemek_third_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/kulteri3.jpg");
  background-size: cover;
  background-position-y: center;
  height: 600px;
  display: flex;
  flex-direction: row;
}

.kulterielemek_third_div_left {
  background-color: rgba(230, 230, 230, 0.623);
  width: 40%;
  padding: 30px;
  display: flex;
  align-items: center;
}

.kulterielemek_third_div_text {
  margin-bottom: 30px;
}

.kulterielemek_third_div_btn {
  margin-top: 20px;
}

.kulterielemek_fourth_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/kulteri4.jpg");
  background-size: cover;
  background-position-y: center;
  height: 700px;
}

/* .footer {
  background-color: var(--main-bg-color);
  font-size: 15px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  bottom: 0;
  height: 50px;
  width: 100vw;
  max-width: 1200px;
} */

.footer {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  padding-top: 10px;
  width: 100vw;
  max-width: 1200px;
}

footer {
  background-color: var(--main-font-color);
  color: var(--main-bg-color);
  font-size: 15px;
  height: 35px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw !important;
  max-width: 1200px;
  bottom: 0;
  margin: auto;
}

.footer_left,
.footer_right,
.footer_mid,
.footer_mid > a {
  background-color: var(--main-font-color);
}

.footer_mid > a:hover {
  color: var(--main-bg-color);
  cursor: pointer;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--main-bg-color);
}

.footerBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--main-bg-color);
}

/* ASZF container */
.aszf_page {
  max-width: 1200px;
  margin: auto;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
}

.aszf_container {
  margin: 20px;
}

/* GDPR container */
.gdpr_page {
  max-width: 1200px;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
}

.gdpr_container {
  height: calc(100vh - 100px);
  margin: 20px;
}

/* Jogi nyilatkozat */
.joginyilatkozat_page {
  max-width: 1200px;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
}

.joginyilatkozat_container {
  min-height: calc(100vh - 100px);
  margin: 20px;
  padding-bottom: 70px;
}

/* HEADER */
/* .header {
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  left: 0;
  right: 0;
  font-size: 20px;
} */

.header {
  height: 64px;
  margin: auto;
  top: 0;

  font-size: 20px;
}

nav {
  width: 100vw !important;
  max-width: 1200px !important;
  margin: auto !important;
  background-color: var(--main-bg-color) !important;

  border-bottom: solid 2px var(--main-font-color);
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.bgeoLogo {
  height: 35px;
  cursor: pointer;
}

.me-auto > a,
.nav-item > a,
.dropdown-menu > a {
  color: var(--main-font-color) !important;
  font-size: 20px;
}
.dropdown-menu > a:active {
  background-color: var(--main-font-color);
  color: var(--main-bg-color) !important;
}
