:root {
  --main-bg-color: #f7f7f7;
  --main-font-color: #4a4543;
}

@font-face {
  font-family: "saira_extra_light";
  src: url("../assets/Saira_Condensed/SairaCondensed-ExtraLight.ttf");
}

@font-face {
  font-family: "barlow_extra_light";
  src: url("../assets/Barlow_Condensed/BarlowCondensed-ExtraLight.ttf");
}

@font-face {
  font-family: "barlow_semi_bold";
  src: url("../assets/Barlow_Condensed/BarlowCondensed-SemiBold.ttf");
}

@font-face {
  font-family: "helvetica_bold";
  src: url("../assets/Helvetica/Helvetica-Bold.ttf");
}

@font-face {
  font-family: "bree_light_oblique";
  src: url("../assets/bree-2-cufonfonts/BreeLightOblique.otf");
}

#root,
html {
  background-color: var(--main-bg-color);
}
html {
  width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#root {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html,
body {
  height: 100%;
  margin: 0;
}

/* UNDER CONSTRUCTION */

.mainDiv {
  max-width: 1200px;
  min-width: 400px;
}

.container_under_construction {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  min-width: 400px;
  position: relative;
  text-align: center;
  color: rgb(98, 98, 98);
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3.5vw;
}

.centered {
  background-color: rgba(30, 30, 30, 0.811);
  color: #349da1;
  border-radius: 10px;
}

.img_under_construction {
  width: 100%;
  /* opacity: 0.3; */
}

.footerDiv {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
  align-self: center;
  height: 60px;
  width: 100%;
  max-width: 1200px;
  min-width: 400px;
  margin: auto;
  font-size: max(1.5vw, 12px);
  color: #dda951;
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(35, 35, 35);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.bottom-left {
  margin-left: 10px;
  align-self: center;
}

.bottom-right {
  margin-right: 10px;
  align-self: center;
}

.bottom-center {
  align-self: center;
}
.bottom-center > a,
.bottom-center > a:link,
.bottom-center > a:visited,
.bottom-center > a:active {
  text-decoration: none;
  color: #dda951;
}

@media screen and (min-width: 1200px) {
  .container_under_construction {
    font-size: 45.5px;
  }
  .footerDiv {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .container_under_construction {
    font-size: 21px;
  }
  .footerDiv {
    font-size: 10px;
  }
}

/* StartingPage */
.starting_page_page {
  min-height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.starting_page_container {
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3.5vw;
  height: calc(100vh - 119px);
  color: var(--main-font-color);
}

.starting_page_body {
  padding-top: 20px;
  gap: 20px;
  height: calc(100vh - 124px);

  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "epitesztervezes epitesztervezes betontermekek betontermekek"
    "epitesztervezes epitesztervezes betontermekek betontermekek"
    "szolgaltatas iras betontermekek betontermekek";
}

.starting_page_epitesztervezes,
.starting_page_betontermekek {
  border: rgb(35, 35, 35) 5px solid;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  background-size: cover;
  background-position: center;
  color: var(--main-bg-color);
  display: table;
}

.starting_page_epitesztervezes {
  background-image: url("../assets/starting_page_imgs/haz.jpg");
  grid-area: epitesztervezes;
}
.starting_page_betontermekek {
  background-image: url("../assets/starting_page_imgs/beton.jpg");
  grid-area: betontermekek;
}

.starting_page_epitesztervezes_content,
.starting_page_betontermekek_content {
  transition: 0.5s ease;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(30, 30, 30, 0.811);
  opacity: 0;
}

.starting_page_epitesztervezes_content:hover,
.starting_page_betontermekek_content:hover {
  opacity: 1;
  cursor: pointer;
}

.starting_page_szolgaltatas {
  border: rgb(35, 35, 35) 5px solid;
  grid-area: szolgaltatas;
}

.szolgaltatas_logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin: 5px;
}

.szolgaltatas_logo_imgs {
  width: 40px;
}

.starting_page_iras {
  background-image: url("../assets/starting_page_imgs/tanacsadas.jpg");
  background-size: cover;
  background-position-x: center;
  border: rgb(35, 35, 35) 5px solid;
  grid-area: iras;
}

@media screen and (min-width: 1200px) {
  .starting_page_container {
    font-size: 45.5px;
  }
}

@media screen and (max-width: 850px) {
  .starting_page_body {
    margin: 10px;
    gap: 10px;
    height: calc(100vh - 130px);
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "epitesztervezes epitesztervezes"
      "epitesztervezes epitesztervezes"
      "betontermekek betontermekek"
      "betontermekek betontermekek"
      "betontermekek betontermekek"
      "szolgaltatas iras";
  }
}

@media screen and (max-width: 600px) {
  .starting_page_container {
    font-size: 21px;
  }
}

@media (max-width: 576px) {
  .starting_page_page {
    min-height: 100%;
    width: 100%;
    margin: auto;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 16px;
  }

  .starting_page_container {
    font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 3.5vw;
    /* height: calc(100vh - 119px); */
    color: var(--main-font-color);
    margin-bottom: 65px;
  }

  .starting_page_body {
    padding: 0;
    margin: 5px;
    gap: 5px;
    /* height: calc(100vh); */
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "epitesztervezes epitesztervezes"
      "epitesztervezes epitesztervezes"
      "betontermekek betontermekek"
      "betontermekek betontermekek"
      "betontermekek betontermekek"
      "szolgaltatas iras";
  }

  .starting_page_epitesztervezes,
  .starting_page_betontermekek {
    border: rgb(35, 35, 35) 5px solid;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    background-size: cover;
    background-position: center;
    color: var(--main-bg-color);
    display: table;
  }

  .starting_page_epitesztervezes {
    background-image: url("../assets/starting_page_imgs/haz.jpg");
    grid-area: epitesztervezes;
  }
  .starting_page_betontermekek {
    background-image: url("../assets/starting_page_imgs/beton.jpg");
    grid-area: betontermekek;
  }

  .starting_page_epitesztervezes_content,
  .starting_page_betontermekek_content {
    transition: 0.5s ease;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(30, 30, 30, 0.811);
    opacity: 0;
  }

  .starting_page_epitesztervezes_content:hover,
  .starting_page_betontermekek_content:hover {
    opacity: 1;
    cursor: pointer;
  }

  .starting_page_szolgaltatas {
    border: rgb(35, 35, 35) 5px solid;
    grid-area: szolgaltatas;
  }

  .szolgaltatas_logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    margin: 5px;
  }

  .szolgaltatas_logo_imgs {
    width: 20px;
  }

  .starting_page_iras {
    background-image: url("../assets/starting_page_imgs/tanacsadas.jpg");
    background-size: cover;
    background-position-x: center;
    border: rgb(35, 35, 35) 5px solid;
    grid-area: iras;
  }
}

/* STARTING PAGE 2 */

.starting_page_2_page {
  min-height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.starting_page_2_container {
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3.5vw;
  height: calc(100vh - 119px);
  color: var(--main-font-color);
}

.starting_page_2_body {
  height: calc(100vh - 99px);
  display: flex;
}

.starting_page_2_epitesztervezes {
  background-image: url("../assets/starting_page_imgs/haz.jpg");
  grid-area: epitesztervezes;
  border-right: 1px solid var(--main-font-color);
  border-left: 2px solid var(--main-font-color);
}
.starting_page_2_betontermekek {
  background-image: url("../assets/starting_page_imgs/beton.jpg");
  grid-area: betontermekek;
  border-left: 1px solid var(--main-font-color);
  border-right: 2px solid var(--main-font-color);
}

.starting_page_2_epitesztervezes,
.starting_page_2_betontermekek {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  background-size: cover;
  background-position: center;
  color: var(--main-bg-color);
  display: table;
}

.starting_page_2_epitesztervezes,
.starting_page_2_betontermekek {
  width: 50%;
  min-height: 100%;
}

.starting_page_2_epitesztervezes:hover,
.starting_page_2_betontermekek:hover {
  width: 75%;
  transition: width 0.5s ease;
}

.starting_page_2_epitesztervezes_content,
.starting_page_2_betontermekek_content {
  transition: 0.5s ease;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(30, 30, 30, 0.811);
  opacity: 0;
}

.starting_page_2_epitesztervezes_content:hover,
.starting_page_2_betontermekek_content:hover {
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 576px) {
  .starting_page_2_page {
    min-height: 100%;
    width: 100%;
  }

  .starting_page_2_container {
    margin-top: -1px;
  }

  .starting_page_2_body {
    height: calc(100vh - 132px);
    display: flex;
    flex-direction: column;
  }

  .starting_page_2_epitesztervezes,
  .starting_page_2_betontermekek {
    width: 100%;
    min-height: 50%;
  }

  .starting_page_2_epitesztervezes:hover,
  .starting_page_2_betontermekek:hover {
    width: 100%;
  }

  .starting_page_2_epitesztervezes_content,
  .starting_page_2_betontermekek_content {
    transition: none;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(30, 30, 30, 0.811);
    font-size: 30px;
    opacity: 1;
  }
}

/* EPITESZ */
.epitesz_page {
  width: 100%;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  padding: 5px;
}

.epitesz_container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  /* height: calc(100vh - 204px); */
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
}

.epitesz_szolgaltatas {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* height: 1800px; */
  width: 100%;
  max-width: 1200px;
}
.epitesz_szolgaltatas_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.epitesz_szolgaltatas_div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 450px;
  width: 25%;
  max-width: 1200px;
}

.epitesz_szolgaltatas_picture {
  height: 70px;
  width: 70px;
}

.epitesz_szolgaltatas_text_1,
.epitesz_szolgaltatas_text_2,
.epitesz_szolgaltatas_text_3,
.epitesz_szolgaltatas_text_4 {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 1, 5px;
  text-align: justify;
}

.epitesz_szolgaltatas_group_1 {
  background-image: url("../assets/epitesztervezes_imgs/1.jpg");
  background-size: cover;
}

.epitesz_szolgaltatas_group_2 {
  background-image: url("../assets/epitesztervezes_imgs/2.jpg");
  background-size: cover;
}

.epitesz_szolgaltatas_group_3 {
  background-image: url("../assets/epitesztervezes_imgs/3.jpg");
  background-size: cover;
}

.epitesz_szolgaltatas_group_4 {
  background-image: url("../assets/epitesztervezes_imgs/4.jpg");
  background-size: cover;
}

.epitesz_szolgaltatas_all {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(230, 230, 230, 0.623);
}

.epitesz_szolgaltatas_picture_div {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.epitesz_szolgaltatas_text {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.epitesz_text_div_1,
.epitesz_text_div_2,
.epitesz_text_div_3 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0.5px;
}

.epitesz_grid_text {
  background-color: rgba(237, 237, 237, 0.749);
  height: 40px;
}

.csapat_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.csapat_picture {
  width: 100%;
  max-height: 250px;
  max-width: 250px;
  border-radius: 50%;
}

.csapat_leiras {
  text-align: center;
}

.csapat_nev {
  font-size: 30px;
}

.epitesz_text_div_1 > p {
  font-size: 20px;
}

.referenciak {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1200px;
}

.referencia_text {
  font-size: 20px;
  text-align: center;
}

.referenciak_div {
  max-width: 1200px;
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.reference_text {
  width: 70%;
  margin: auto;
  margin-bottom: 2px;
  font-size: 13px;
  color: var(--main-font-color);
  background-color: #f7f7f7d7;
  border-radius: 3px;
}

.referece_carusel {
  width: 32%;
}

.partnereink {
  margin-top: 20px;
  margin-bottom: 20px;
}

.partnereink_text {
  margin-top: 20px;
  font-size: 14px;
}

@media (max-width: 576px) {
  /* EPITESZ */
  /* .epitesz_page {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 16px;
  } */

  .epitesz_page {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 16px;
    padding: 5px;
  }

  .epitesz_container {
    width: 100%;
    margin: 0 auto;

    font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 20px;
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
  }

  .epitesz_szolgaltatas {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 576px;
  }
  .epitesz_szolgaltatas_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 576px;

    flex-wrap: wrap;
  }

  .epitesz_szolgaltatas_div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
    width: 50%;
    max-width: 576px;
  }

  .csapat_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;

    align-items: center;
    justify-content: center;
  }

  .csapat_picture {
    max-height: 250px;
    max-width: 250px;
    border-radius: 50%;
  }

  .csapat_leiras {
    text-align: center;
  }

  .csapat_nev {
    font-size: 30px;
  }

  .reference_text {
    width: 100%;
  }

  .referece_carusel {
    width: 48%;
  }
  .partnereink {
    padding-bottom: 20px;
  }
}

/* BETON ROLUNK */
.beton_page,
.butor_page,
.falburkolat_page,
.kulterielemek_page {
  max-width: 1200px;
  width: 100%;
  min-height: 100%;
  margin: auto;
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
}

.beton_container {
}

.beton_title,
.butor_title,
.falburkolat_title,
.kulterielemek_title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0.5px;
}

.beton_subtitle,
.butor_subtitle,
.falburkolat_subtitle,
.kulterielemek_subtitle {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;

  letter-spacing: 0.5px;
}

.beton_first_div {
  background-image: url("../assets/betongeometria/bemutatkozas.jpg");
  background-size: cover;
  background-position-y: center;
  height: 1200px;
  display: flex;
  flex-direction: row;
}

.beton_first_div_left,
.beton_first_div_right {
  width: 50%;
}

.beton_first_div_right {
  background-color: rgba(230, 230, 230, 0.623);
}

.beton_first_line {
  font-family: helvetica_bold, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  letter-spacing: 0.5px;
}

.beton_first_div_text {
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin: 10px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
}

.beton_contactBtn_div {
  margin: auto;
  justify-self: center;
  width: 160px;
}

.contactBtn {
  transition: 0.5s ease;
  justify-self: center;
  cursor: pointer;
  border: none;
  background-color: #fe6060;
  padding: 15px;
  padding-left: 45px;
  padding-right: 45px;
  font-family: bree_light_oblique, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--main-bg-color);
  font-size: 15px;
}

.contactBtn:hover {
  transition: 0.5s ease;
  background-color: #b44343;
}

@media (max-width: 576px) {
  #root {
    width: 100%;
  }
  .beton_page,
  .butor_page,
  .falburkolat_page,
  .kulterielemek_page {
    width: 100%;
    min-height: 100%;
    margin: auto;
    font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
  }

  .beton_title,
  .butor_title,
  .falburkolat_title,
  .kulterielemek_title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0.5px;
  }

  .beton_subtitle,
  .butor_subtitle,
  .falburkolat_subtitle,
  .kulterielemek_subtitle {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
  }

  .beton_first_div {
    background-image: url("../assets/betongeometria/bemutatkozas.jpg");
    background-size: cover;
    background-position-y: center;
    display: flex;
    height: 900px;
    flex-direction: row;
    margin-bottom: 75px;
  }

  .beton_first_div_left {
    display: none;
  }
  .beton_first_div_right {
    width: 100%;
    margin: 0px;
    padding: 10px;
  }

  .beton_first_div_right {
    background-color: rgba(230, 230, 230, 0.623);
  }

  .beton_first_line {
    font-family: helvetica_bold, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }

  .beton_first_div_text {
    font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 16px;
    margin: 0px;
    margin-bottom: 15px;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: justify;
  }
}
/* BUTOR */

.butor_first_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/butor1.jpg");
  background-size: cover;
  background-position-y: center;
  height: 900px;
  display: flex;
  flex-direction: row;
}

.butor_first_div_left {
}

.butor_first_div_left {
  width: 33%;
  min-width: 400px;
  height: 75%;
  background-color: rgba(230, 230, 230, 0.623);
  margin: 35px;
  padding: 25px;
}

.butor_first_div_text > a,
.butor_first_div_text > a:active,
.butor_first_div_text > a:hover,
.butor_first_div_text > a:link {
  color: var(--main-font-color);
  text-decoration: underline;
}

.butor_first_line {
  font-size: 16px;
  letter-spacing: 5px;
  font-family: barlow_semi_bold, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 65px;
}

.butor_first_div_text {
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
}

.butor_second_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/enterior.jpg");
  background-size: cover;
  background-position-x: center;
  min-height: 600px;
  width: 100%;
  display: flex;
  /* flex-direction: row;
  margin-top: 20px;
  background-image: url("../assets/betongeometria/enterior.jpg");
  background-size: cover;
  background-position-y: center;
  height: 768px; */
}

.butor_third_div {
  margin-top: 20px;
  margin-bottom: 5px;
  background-image: url("../assets/betongeometria/butor3.jpg");
  background-size: cover;
  background-position-y: center;
  height: 623px;
  display: flex;
}

.butor_third_div_left {
  width: 71%;
}

.butor_third_div_right {
  background-color: rgba(230, 230, 230, 0.623);
  width: 29%;
  padding: 20px;
  padding-top: 35px;
}

.butor_third_div_text {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
}

@media (max-width: 576px) {
  /* BUTOR */
  .butor_first_div {
    margin-top: 20px;
    background-image: url("../assets/betongeometria/butor1.jpg");
    background-size: auto;
    background-position-x: center;
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .butor_first_div_left {
    width: 100%;
    height: 65%;
    background-color: rgba(230, 230, 230, 0.623);
    margin: 0px;
    padding: 10px;
  }

  .butor_first_div_text > a,
  .butor_first_div_text > a:active,
  .butor_first_div_text > a:hover,
  .butor_first_div_text > a:link {
    color: var(--main-font-color);
    text-decoration: underline;
  }

  .butor_first_line {
    font-size: 16px;
    letter-spacing: 5px;
    font-family: barlow_semi_bold, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .butor_first_div_text {
    font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: justify;
  }

  .butor_second_div {
    margin-top: 5px;
    background-image: url("../assets/betongeometria/enterior.jpg");
    background-size: auto;
    background-position-y: center;
    height: 400px;
  }

  .butor_third_div {
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("../assets/betongeometria/butor3.jpg");
    background-size: cover;
    background-position-y: center;
    height: 400px;
    display: flex;
    margin-bottom: 75px;
  }

  .butor_third_div_left {
    display: none;
  }

  .butor_third_div_right {
    background-color: rgba(230, 230, 230, 0.623);
    width: 100%;
    padding: 20px;
    padding-top: 35px;
  }

  .butor_third_div_text {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: justify;
  }
}

/* FALBURKOLAT */

.falburkolat_first_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/falburkolat1.jpg");
  background-size: cover;
  background-position-y: center;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.falburkolat_first_div_left,
.falburkolat_first_div_right {
  width: 50%;
}

.falburkolat_first_div_right {
  background-color: rgba(230, 230, 230, 0.623);
  padding: 10px;
  margin-right: 0;
  width: 370px;
  display: flex;
}
.falburkolat_first_div_text {
  align-self: flex-end;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
}

.falburkolat_second_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/falburkolat2.jpg");
  background-size: cover;
  background-position-y: center;
  height: 600px;
}

.falburkolat_third_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/falburkolat3.jpg");
  background-size: cover;
  background-position-y: center;
  height: 600px;
  display: flex;
  flex-direction: row;
}

.falburkolat_third_div_left {
  width: 30%;
  min-width: 300px;
  background-color: rgba(230, 230, 230, 0.623);
  padding: 30px;
}

.falburkolat_third_div_text {
  align-self: flex-end;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  /* FALBURKOLAT */
  .falburkolat_first_div {
    margin-top: 10px;
    background-image: url("../assets/betongeometria/falburkolat1.jpg");
    background-size: cover;
    background-position-y: center;
    height: 600px;
    display: flex;
    flex-direction: column-reverse;
  }

  .falburkolat_first_div_left {
    display: none;
  }

  .falburkolat_first_div_right {
    width: 50%;

    height: 65%;
  }

  .falburkolat_first_div_right {
    background-color: rgba(230, 230, 230, 0.623);
    width: 100%;
    margin: 0px;
    padding: 10px;
    padding-top: 20px;

    /* background-color: rgba(230, 230, 230, 0.623);
    padding: 10px;
    padding-top: 20px;
    display: flex; */
  }
  .falburkolat_first_div_text {
    align-self: flex-start;
  }

  .falburkolat_second_div {
    margin-top: 5px;
  }

  .falburkolat_third_div {
    background-position-x: center;
    margin-top: 5px;
    margin-bottom: 75px;
  }

  .falburkolat_third_div_left {
    width: 100%;
    padding: 10px;
  }
}

/* KULTERI ELEMEK */

.kulterielemek_first_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/kulteri1.jpg");
  background-size: cover;
  height: 900px;
  display: flex;
  flex-direction: row;
}

.kulterielemek_first_div_left {
  width: 70%;
}

.kulterielemek_first_div_right {
  background-color: rgba(230, 230, 230, 0.623);
  width: 30%;
  min-width: 300px;
  max-height: 55%;
  margin: 20px;
  padding: 30px;
}

.kulterielemek_first_div_text,
.kulterielemek_third_div_text {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
}

.kulterielemek_second_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/kulteri2.jpg");
  background-size: cover;
  background-position-y: center;
  height: 700px;
}

.kulterielemek_third_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/kulteri3.jpg");
  background-size: cover;
  background-position-y: center;
  height: 600px;
  display: flex;
  flex-direction: row;
}

.kulterielemek_third_div_left {
  background-color: rgba(230, 230, 230, 0.623);
  width: 40%;
  padding: 30px;
  display: flex;
  align-items: center;
}

.kulterielemek_third_div_text {
  margin-bottom: 30px;
}

.kulterielemek_third_div_btn {
  margin-top: 20px;
}

.kulterielemek_fourth_div {
  margin-top: 20px;
  background-image: url("../assets/betongeometria/kulteri4.jpg");
  background-size: cover;
  background-position-y: center;
  height: 700px;
}

@media (max-width: 576px) {
  /* KULTERI */
  .kulterielemek_first_div {
    margin-top: 10px;
    background-image: url("../assets/betongeometria/kulteri1.jpg");
    background-size: cover;
    background-position-x: center;
    height: 600px;
    display: flex;
    flex-direction: row;
  }

  .kulterielemek_first_div_left {
    display: none;
  }

  .kulterielemek_first_div_right {
    background-color: rgba(230, 230, 230, 0.623);
    width: 100%;
    margin: 0px;
    padding: 10px;
    padding-top: 20px;
  }

  .kulterielemek_first_div_text,
  .kulterielemek_third_div_text {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: justify;
  }

  .kulterielemek_second_div {
    margin-top: 5px;
    background-image: url("../assets/betongeometria/kulteri2.jpg");
    background-size: cover;
    background-position-x: center;
    height: 400px;
  }

  .kulterielemek_third_div {
    margin-top: 5px;
    background-image: url("../assets/betongeometria/kulteri3.jpg");
    background-size: cover;
    background-position-y: center;
    height: 300px;
    display: flex;
    flex-direction: row;
  }

  .kulterielemek_third_div_left {
    background-color: rgba(230, 230, 230, 0.623);
    width: 1000%;
    padding: 30px;
    display: flex;
    align-items: center;
  }

  .kulterielemek_third_div_text {
    margin-bottom: 30px;
  }

  .kulterielemek_third_div_btn {
    width: 100%;
    display: flex;
  }

  .kulterielemek_third_div_btn {
    margin-top: 20px;
    justify-self: flex-start;
  }

  .kulterielemek_fourth_div {
    margin-top: 5px;
    margin-bottom: 75px;
    background-image: url("../assets/betongeometria/kulteri4.jpg");
    background-size: cover;
    background-position-y: center;
    height: 250px;
  }
}

/* FOOTER */
.footer {
  height: 35px;
  margin-top: -35px;
  position: relative;
}

footer {
  background-color: var(--main-font-color);
  color: var(--main-bg-color);
  font-size: 15px;
  height: 35px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100% !important;
  max-width: 1200px;
  margin: auto;
  margin-top: 55px;
}

.footer_left,
.footer_right,
.footer_mid,
.footer_mid > a {
  background-color: var(--main-font-color);
}

.footer_mid > a:hover {
  color: var(--main-bg-color);
  cursor: pointer;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--main-bg-color);
}

.footerBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--main-bg-color);
}

@media (max-width: 576px) {
  /* FOOTER */
  .footer {
    height: 55px;
    margin-top: -55px;
    position: relative;
  }

  footer {
    background-color: var(--main-font-color);
    color: var(--main-bg-color);
    font-size: 15px;
    height: 55px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    width: 100% !important;
    max-width: 1200px;
    margin: auto;
    margin-top: 55px;
  }
}

/* Impresszum container */
.impresszum_page {
  max-width: 1200px;
  margin: auto;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.impresszum_container {
  margin: 20px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
}

@media (max-width: 576px) {
  .impresszum_container {
    padding-bottom: 30px;
  }
}

/* GDPR container */
.gdpr_page {
  max-width: 1200px;
  margin: auto;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
}

.gdpr_container {
  height: calc(100vh - 100px);
  margin: 20px;
}

/* Jogi nyilatkozat */
.joginyilatkozat_page {
  max-width: 1200px;
  margin: auto;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: barlow_extra_light, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: justify;
}

.joginyilatkozat_container {
  min-height: calc(100vh - 100px);
  margin: 20px;
  padding-bottom: 70px;
}

/* HEADER */
/* .header {
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  left: 0;
  right: 0;
  font-size: 20px;
} */

.header {
  height: 64px;
  margin: auto;
  padding: 6px;
  top: 0;
  text-align: center;

  font-size: 18px;
}

.navbar_divider_horizontal {
  display: none;
}

@media (min-width: 576px) {
  .container {
    min-width: 100% !important;
  }
  .navbar_divider_horizontal {
    display: inline;
    height: 64px;
    font-size: 30px;
    margin: auto;
    padding: 6px;
  }
}

.navBarContainer {
  justify-content: space-between !important;
  width: 100% !important;
}

nav {
  width: 100% !important;
  max-width: 1200px !important;
  margin: auto !important;
  background-color: var(--main-bg-color) !important;
  padding: 6px;
  border-bottom: solid 2px var(--main-font-color);
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.bgeoLogo {
  height: 35px;
  cursor: pointer;
}

a.nav-link {
  transition: 0.3s ease;
  color: var(--main-font-color) !important;
  margin: auto;
}

a.nav-link:hover {
  transition: 0.3s ease;
  color: #79706d !important;
  cursor: pointer;
}
